button {
  border: 1px solid #2cbadb;
  font-size: .8rem;
  color: #2cbadb;
  padding: 8px 12px;
  cursor: pointer;
  transform: translateY(-24%);
  font-family: 'PT Mono', monospace;
  transition: .2s all linear;
  letter-spacing: 1.5px;
  border-radius: 2px;
  background-color: transparent;
}

button:hover {
  background-color: rgba(44, 186, 219, .1);
}
