.terminal__blink {
  display: none;
  overflow: hidden; 
  border-right: 2px solid #2cbadb; 
  padding-left: 0px;
  padding-right: 6px;
  animation: blink .75s step-end infinite;
  width: 25px;
  color: #2cbadb;
}

.terminal__blink-about {
  display: block;
}

@media only screen and (min-height: 640px) and (min-width: 580px){
  .terminal__blink-home {
    display: block;
  }
}