.terminal__container {
  display: none;
  padding-bottom: 10px;
}

#terminal__container--about {
  display: block;
}

.terminal__input-border {
  cursor: pointer;
  display: inline;
  padding-left: 29px;
  font-size: 1rem;
  font-family: 'PT Mono', monospace;
  color: #2cbadb;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

.terminal__blink {
  display: none;
  overflow: hidden;   
}

.static-value {
  position:absolute;
  display: block;
	color:#2cbadb;
  width: 25px;
  padding-right: 4px;
  animation: blink .75s step-end infinite;
  border-right: 1px solid #2cbadb;
}

.terminal__blink--clicked {
  border-right: none;
}

.terminal__text--clicked {
  margin-left: 5px;
  outline-style: none;
}

.terminal__blink-about {
  display: block;
}

.terminal__cursor {
  margin-left: 5px;
}

.terminal__command {
  display: none;
  color: #2cbadb;
}

.terminal__command--about {
  display: block;
}

@media only screen and (min-height: 640px) and (min-width: 580px){
  .terminal__container {
    display: block;
  }

  .terminal__command {
    display: block;
  }
}

@media only screen and (max-width: 579px) {
  .terminal__home {
    display: none !important;
  }
}
