.about__container {
  position: relative;
  background-color: rgba(3, 41, 57, 1);
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 40px;
  color: #2cbadb;
  font-family: 'PT Mono', monospace;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 1.2px;
  border-radius: 5px;
  border-top: 30px solid #dddddd;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.about__container--maximize {
  width: 100%;
  max-width: 1400px;
  transition: all .3s ease-out;
}

.about__description {
  margin: 0 auto;
}

.img__about {
  background-color: #2cbadb;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
  transition: 0.3s ease-out;
  margin: 20px;
}

.img__about:hover,
.img__about:active {
  background-color: #ffffff;
}

.about__links {
  text-align: center;
  margin-bottom: 40px;
}

.terminal {
  display: inline;
  overflow: hidden; 
  border-right: 2px solid #2cbadb; 
  padding-right: 6px;
  animation: blink .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #2cbadb; }
}

@media only screen and (max-width: 800px) {
  .about__container {
    width:85%;
    padding: 20px;
  }

  .about__links {
    flex-direction: row;
    margin-bottom: 30px;
  }

  .link__email {
    margin-top: 4px;
  }
}
