@import url('https://fonts.googleapis.com/css?family=Maven+Pro:700');

.large-hero__text-content {
    transform: translateY(10%);
    left: 0;
    max-width: 98%;
  }

p {
  font-family: 'PT Mono', monospace;
}

.primary__intro {
  margin-bottom: 0;
  font-size: 1.2rem;
  letter-spacing: .2px;
  color: #2cbadb;
  animation: intro .3s ease-out .3s backwards;
}

@keyframes intro {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(0%);
  }
}

.primary__name {
  display: inline-block;
  font-size: 4rem;
  margin: 0;
  margin-top: 4px;
  font-family: 'Maven Pro', sans-serif;
  background-color: #2cbadb;
  padding: 6px;
  border-radius: 2px;
  animation: namejd .6s ease-out .3s backwards;
}

@keyframes namejd {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0%);
  }
}

.primary__description {
  font-family: 'Maven Pro', sans-serif;
  background-color: rgb(3, 31, 37);
  color: #2cbadb;
  font-size: 2.6rem;
  margin-top: 0;
  margin-bottom: 28px;
  display: inline-block;
  padding: 8px;
  border-radius: 2px;
  animation: description .75s ease-out .3s backwards;
}

@keyframes description {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0%);
  }
}

.btn--dark {
  margin-bottom: 80px;
}

.primary__detail {
  width: 60%;
  margin-bottom: 48px;
  line-height: 1.4;
}

@media only screen and (max-width: 500px) {
  .large-hero__text-content {
    transform: translateY(10%);
  }
  .primary__intro {
    font-size: 1.4rem;
  }
  .primary__name {
    line-height: .9;
  }
  .primary__button--mobile {
    border: 2px solid red;
    color: red;
    font-size: 1.2rem;
  }
}

@media all and (orientation:landscape) {
  .large-hero__text-content {
    transform: translateY(10%);
  }
}

@media only screen and (min-height: 640px) and (min-width: 580px){
  .large-hero__text-content {
    background-color: rgba(3, 31, 37, 0.9);
    padding: 5px 20px;
    border-radius: 5px;
    border-top: 30px solid #dddddd;
    margin-bottom: 80px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  }

  .large-hero__text-content--closed {
    background-color: none;
    box-shadow: none;
    border-top: none;
    margin-top: 80px;
  }

  .primary__detail {
    color: #ffffff;
  }

  .primary__detail--closed {
    color: #000000;
  }

  .dot {
    display: inline;
  }
}

@media only screen and (min-height: 700px) {
  .large-hero__text-content {
    transform: translateY(10%);
  }
}