
nav {
  background-color: #000000;
}

.nav__primary {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'PT Mono', monospace;
  overflow: hidden;
}

.nav-right {
  float: right;
  margin-right: 15px;
}

.nav__desktop-links {
  transform: translateY(10%);
}

img {
  width: 100px;
  vertical-align: middle;
  /* top: 50%; */
}

.nav-link__mobile {
  font-size: 1.2rem;
}
ul {
  display: flex;
}

li {
  font-size: 1rem;
  list-style: none;
  margin-left: 30px;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: all .2s;
}

li:not(:last-child) a:hover {
  color: #2cbadb;
  border-bottom: 1px solid #2cbadb;
  padding-bottom: 6px;
}

@media only screen and (max-width: 600px) {
  .menu--desktop {
    display: none;
  }

  .nav__primary {
    height: 80px;
    padding-left: 15px;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 601px) {
  .menu--mobile {
      display: none;
  }
}
