@import url('https://fonts.googleapis.com/css?family=PT+Mono');

nav {
  background-color: rgb(3, 31, 37);
}

.nav__primary {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'PT Mono', monospace;
  overflow: hidden;
}

img {
  width: 100px;
  vertical-align: middle;
  /* top: 50%; */
}

ul {
  display: flex;
}

li {
  font-size: .8rem;
  list-style: none;
  margin-left: 30px;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: all .2s;
}

li:not(:last-child) a:hover {
  color: #2cbadb;
  border-bottom: 1px solid #2cbadb;
  padding-bottom: 6px;
}

@media only screen and (max-width: 525px) {
  .menu--desktop {
    display: none;
  }
}

