.nav {
  &__container {
    display: flex;
    transform: translateY(10%);
  }
  &__link {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s;
    &::after {
      display: block;
      margin-top: 2px;
      content: "";
      height: 2px;
      background: #2cbadb;
      border-radius: 5px;
      max-width: 0;
      transition: max-width 800ms cubic-bezier(0.22, 1, 0.36, 1);
    }
    &:hover,
    &--active {
      color: #2cbadb;
      &::after {
        width: 100%;
        margin-top: 2px;
        max-width: 200px;
        transition: max-width 800ms cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
  }
  &__list {
    font-size: 1rem;
    list-style: none;
    margin-left: 30px;
    letter-spacing: 1.5px;
  }
  &__resume {
    color: #2cbadb;
  }
}
